<div class="parent">
    <div class="a">
        <input #item type="text" placeholder="Enter Item"/>
        <br/>
        <button (click)="onAdd(item.value)">ADD</button>
    </div>
    <div class="b">
           <div class="b-head">
             ITEM LIST
           </div>
           <div *ngFor="let item of items;let i=index" class="list-item">
               <div class="a"><span>{{item}}</span></div>              
               <div class="b"><button class="modify">Modify</button><button class="delete" (click)="onRemove(i)">Delete</button></div>              
           </div>
    </div>
</div>